APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/C.I.R.C.U.I.T.O/public

DB_CONNECTION=mysql
DB_PROFILE=xampp
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=circuito
DB_USERNAME=root
DB_PASSWORD=

ALWAYSDATA_DB_HOST=seu-host-alwaysdata
ALWAYSDATA_DB_PORT=3306
ALWAYSDATA_DB_DATABASE=seu-banco-alwaysdata
ALWAYSDATA_DB_USERNAME=seu-usuario-alwaysdata
ALWAYSDATA_DB_PASSWORD=sua-senha-alwaysdata

LDAP_HOST=ldap://x.x.x.x
LDAP_PORT=389
LDAP_BASE_DN=CN=v,DC=w,DC=x,DC=y,DC=z
LDAP_BIND_PATTERN=CN=%s,CN=v,DC=w,DC=x,DC=y,DC=z

//O arquivo .env basicamente é a conexão que tem o login.php com o resto do bd entre outros. 
//Essa versão é de exemplo e se colocar os dados reais de senha e tals, manos vão ter acesso total as informações públicas!!!!!!!!!!!!!!
