APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/C.I.R.C.U.I.T.O/public

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=circuito
DB_USERNAME=root
DB_PASSWORD=

LDAP_HOST=ldap://x.x.x.x
LDAP_PORT=389
LDAP_BASE_DN=CN=v,DC=w,DC=x,DC=y,DC=z
LDAP_BIND_PATTERN=CN=%s,CN=v,DC=w,DC=x,DC=y,DC=z
